<div id="defmodal" class="modal">
    <div style="text-align:right"> <a href="" class="close">close</a></div>
    <ul>
        <li><label for="word_input">Word</label><input type="text" name="word" id="word_input"/></li>
        <li><label for="part_of_speech">Part Of Speech:</label>
            <select name="part_of_speech">
                <option value="">---</option>
                <option value="verb">verb</option>
                <option value="noun">noun</option>
                <option value="adjective">adjective</option>
            </select>
        </li>
        <li>
            <label for="translation">Definition</label>
            <input type="text" name="translation" id="translation"/>
        </li>
        <li>
            <input type="submit" value="save changes" id="def_submit" />
        </li>
    </ul>
</div>
