/* solo goldfish:
 * #F08E05 gold
 * #fcd614 yellow
 * #fcec97 pale
 * #fffcfc offwhite
 * #229c79 aqua */

body{ margin: 0px; font-family: Verdana; }

a{ color: #229c79; }
a:link, a:visited{ text-decoration:none;} 
a:hover, a:active{ text-decoration:underline;} 

#header{ height: 100px; width: 100%; position:relative; background: #F08E05 url(/static/logo.png) no-repeat left center; }
    #userlinks{ position:absolute; bottom:0px; right:0px }

#wrapper{ width:1000px; position:relative; left:50%; margin-left:-500px;  background-color: #fcec97; }
    #mainNav{ width:180px; float:left; height: 400px;}
        #mainNav li{ font-size: .8em; }
    #content{ float:right; width:820px;}
        #mainContent{ width: 500px; float: left; }
        #secondaryContent{ width: 280px; float: right; }

#footer{ font-size: .8em; margin-left: auto; margin-right: auto; text-align: center; font-style: italic; clear: both; }

#lookupform{
    text-align:center;
    margin: auto;
    margin-left: auto;
}

/*************/
p.annotatable{
    font-size: .9em;
    line-height: 2em;
}
/****Modal Stuff**/

#mask {  
    position:absolute;  
    z-index:9000;  
    background-color:black;  
    display:none;  
    top:0px;
}  

.modal {  
    position:absolute;  
    width:440px;  
    height:200px;  
    display:none;  
    z-index:9999;  
    padding:20px;  
}  

/**************/

ul.formlayout{
    list-style:none;
}

ul.formlayout li{
    padding-top:6px;
}

ul.formlayout label{
    left: 0px;
    float:left;
    width:8em;
}

