
.content{ width: 40%; font-family: Georgia; }
	.annotatable{  font-size: 14px; line-height: 30px; }
		.word{ }
			.hov{ background-color: #FFEA94; cursor: pointer; }
			.tog{ background-color: #FFEA94; font-weight: bold; }
            .noted{ border-bottom: 2px solid green; }


/*#addnote{  background-color: #FF8585; z-index: 1000; position: absolute;}*/
#addnote{ display: none; background-color: black; z-index: 1000; position: absolute; font-family: Georgia; font-size:11px; color: white; padding: 5px; }
    #lookup{}
    #newnote{}

#addnote a:link{ text-decoration: none; color: white;}
