
.word{ }
    .hov{ background-color: #FFEA94; cursor: pointer; }
    .tog{ background-color: #fcd614; font-weight: bold; }
    .noted{ border-bottom: 2px solid green; }


#addnote{ display: none; background-color: black; z-index: 1000; position: absolute; font-family: Georgia; font-size:12px; color: white; padding: 5px; font-weight:bold ;}
    #lookup{}
    #newnote{}
#verb_meta{ color: #aaa;}

#closebox{ font-weight: normal; font-size: .8em; text-align:right; }
#closebox a:hover{ text-decoration: underline; color: white; }
#closebox a:link{ text-decoration: underline; color:white;  }

#addnote a:link{ text-decoration: none; color: white; }
#whatever{ height:100%}
#lookupspinner{ display:none;  font-style: italic; background: url(/static/spinner_16x16.gif) no-repeat; padding-left: 20px; }
.D_verticalMiddle{ vertical-align:middle; display:-moz-inline-box; display:inline-block; }
